.trainers{
    font-family: Jost;
    img{
        border-radius: 20px;
        margin-bottom: 20px;
    }
    h4{
        font-size: 24px;
        font-weight: 600;
        line-height: 38.4px;
        color: #141024;
        margin-bottom: 10px;
    }
    a{
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        color: #D52027;
    }
    a:hover{
        color: #cc1c22ec;
    }
    .container{
        position: relative;
        max-width: 1200px;
        padding: none;
    }
    .slide-card + .slide-card {
        margin-left: 40px;
    }
    .slider-container{
        position: relative;
        overflow: hidden;
    }
    .slider-row{
        right: 0;
        position: relative;
        transition:all 0.4s ease-in;
        display: flex;
    }
    .arrows{
        right: 30px;
        position: absolute;
        margin-top: 60px;
        svg{
            transition: all 0.2s ease-in;
            cursor: pointer;
        }
        svg:hover{
            transform: translateX(-2px);
            opacity: 0.8;
        }
        svg:active{
            opacity: 0.9;
        }
        svg + svg {
            margin-left: 10px;
        }
    }
    .polosa-container{
        position: relative;
        margin-top: 80px;
        height: 5px;
        border-radius: 40px;
        background: rgba(20, 16, 36, 0.08);
        width: 360px;
        display: flex;
        justify-content: space-between;
    }
    .polosa{
        transition: all 0.3s ease-in;
        border-radius: 40px;
        background: #141024;
        width: 260px;
        position: absolute;
        height: 5px;
        left: 0;
    }
    #poloskaPosition1, #poloskaPosition2, #poloskaPosition3{
        height: 100%;
        cursor: pointer;
        z-index: 999;
        opacity: 0;
    }
}