footer{
    padding: 40px 100px;
    background: #141024;
    p{
        text-transform: uppercase;
        margin-top: 50px;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        color: rgba(255, 255, 255, 0.70);
        margin-bottom: 0;
    }
    @media (max-width:992px){
        p{
            margin-bottom: auto;
            margin-top: 20px;
        }
    }
    @media (max-width:992px){
        a.num{
            display: inline;
        }
    }
    @media (max-width:768px){
        a.logo{
            position: static;
            display: block;
            margin-bottom: 20px;
        }
    }
    @media (max-width:768px){
        a.num{
            position: static;
            display: block;
        }
    }
    @media (max-width:768px){
        p{
            margin-top: 40px;
        }
    }
}
@media (max-width:768px){
    footer{
        text-align: center;
    }
}
